table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 20%;
  }
  

  .principal{
    width: 95%;
    margin: 0 auto;
  }

  .cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .buscador{
    width: 60%;
  }

  .mat-elevation-z8 {    
    overflow-x: auto;
   }

  .boton-agregar{
    width: 40%;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
  }

  button{
    width: 4vh;
    height: 4.3vh;
  }

  .mat-column-id_entidad {
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 10% !important;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }


  .mat-column-nro_documento {
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 12% !important;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }


  .mat-column-nombre_comercial {
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 22% !important;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-razon_social {
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 22% !important;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }